/* sm */
@media (min-width: 300px){
  html{
    font-size: 12px;
  }


}

/*  */
@media (min-width: 576px){
html{
    font-size: 13px;
  }

}

/* md */
@media (min-width: 768px) {
  html{
    font-size: 16px;
  }

}



/* lg */
@media (min-width: 992px) {

}


/* lg */
@media (min-width: 1024px) {


}

@media (max-width: 1023px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80%;
    transform: translateX(180%);
    transition: transform 0.3s ease;
 
  

  }

  .nav-links.open {
    transform: translateX(0); 
  }
}