/* sm */
@media (min-width: 300px){
  html{
    font-size: 12px;
  }


}

/*  */
@media (min-width: 576px){
html{
    font-size: 13px;
  }

}

/* md */
@media (min-width: 768px) {
  html{
    font-size: 16px;
  }

}



/* lg */
@media (min-width: 992px) {

}


/* lg */
@media (min-width: 1024px) {


}
